<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .resource__block{
            display: block;
            margin: 20px 0;
        }
    </style>
</head>
<body>
<header>
    <h2>Новостные ресурсы
        <span><a href="/resources/create">добавить</a></span>
    </h2>
    <a href="/">Новости</a>
</header>
<main>
    {{range .Resources}}
    <div class="resource__block">
        <a target="_blank" href="{{.Link}}">{{.Link}}</a>
        <form method="POST" action="/resources/destroy">
            <input type="hidden" name="id" value="{{.ID}}" />
            <button type="submit">Удалить</button>
        </form>
    </div>
    {{end}}
</main>
</body>
</html>